*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}

.main{
    width:100%;
    min-height:100vh;

}
.top{
    width:100%;
    min-height:60vh;
    background-color: blueviolet;
    background-image: url(mockaroon-YqUeLG7fMr4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.down{
    width: 100%;
    min-height: 40vh;
    /* background-color: blue; */
    display:flex;
}
.top1{
    width:25%;
    min-height:inherit;
    padding-left: 1.5rem;
    
}

.top2{
    width:25%;
    /* height:100%; */
    min-height:inherit;
    padding-left: 1.5rem;
}
.top3{
    width:20%;
    /* height:100%; */
    min-height:inherit;
}
.top4{
    width:30%;
    /* height:100%; */
    background-color: grey;
    padding-left: 1.5rem;
    /* display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    color:white;
    padding-top: 2rem;
    min-height:inherit;
    /* border:2px solid black ; */
}
.top4 h2{
    font-size: 2rem;
}

.text{
    width:100%;
    height:20%;
    /* background-color: brown; */
    position: absolute;
    bottom: 42%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}
.top p{
    width:30%;
}
.top h1{
    padding-left: 10px;
    font-size: 3.5rem;
}
.icon{
    padding-right: 2rem;
}
.top2{
    background-image:url(neom-eNIGxtOdB10-unsplash.jpg) ;
    background-repeat:no repeat ;
    background-size: cover;
    background-position: center ;
}

.ttop{
    width:100%;
    min-height:20vh;
    background-color: red;
    padding-top: 2rem;
    color: white;
    padding-left: 1.5rem;
}
.tbottom{
    width:100%;
    min-height: 20vh;
    background-image: url(img2.avif);
    background-repeat:no repeat ;
    background-size: cover;
    background-position: center ;
}
.top1 h3{
    font-size: 2rem;
}
.top1{
    padding-top: 2rem;
}
.top1 p{
    margin-top: 4px;
}
.top4 p{
    margin-top: 4px;
}
.ttop p{
    margin-top: 4px;
}
@media(max-width:500px){
    .text{
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: -4rem;
        padding: 2rem;
        
      
    }
    .down{
        flex-direction: column;
    }
    .top1,.top2,.top3,.top4{
        width:100%;
    }
    .top3{
        flex-direction: column;
    }
    .icon{
        margin-top: 1rem;
    }
    .text h1{
        font-size: 5rem;
    }
    .top1{
        min-height: 20vh;
    }
    .top4{
        min-height: 20vh;
    }
}