.logo{
    height:100px;
    background-color: black;
    
    font-size:80px;
    text-align: center;
    color: rgb(217, 27, 27);
    text-shadow: 4px 3px 1px;
    text-transform: capitalize;
    font-family:inherit
    


}
.logo2{
    text-align: center;
    font-size: 80px;
    letter-spacing: -8px;
    font-family:ubuntu,sans-serif 
    
}
.logo3{
    
        margin: 40px auto;
        height: 100px;
        text-transform: capitalize;
        background-color: black;
        font-family: 'Ubuntu', sans-serif;
        font-size: 80px;
        font-weight: bold;
        color: #dfdfdf;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 0 2px 2px #dfdfdf, 
            -2px 5px 1px #b8b8b8, 
            -4px 8px 0px #979797, 
            -6px 11px 0px #747474,
            -8px 14px 0px #565656,
            -10px 17px 0px #343434,
            -12px 20px 0px #171717,
            -14px 23px 0px #000;
      }
.logo4{
    height: 100px;
    background-color: black;
        margin: 40px auto;
        font-family: 'Ubuntu', sans-serif;
        font-size: 70px;
        font-weight: bold;
        color: black;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 0 2px 2px #dfdfdf, 
            -2px 5px 1px #cbcbcb,
            -4px 8px 1px #979797, 
            -6px 11px 1px #a2a2a2, 
            -8px 14px 1px #aeaeae, 
            -10px 17px 1px #b5b5b5, 
            -12px 20px 1px #bebebe, 
            -14px 23px 1px #cecece, 
            -16px 26px 1px #dbdbdb, 
            -18px 29px 1px #dfdfdf;
    
}
.logo5{
    
        margin: 40px auto;
        font-family: 'Ubuntu', sans-serif;
        text-transform: capitalize;
        font-size: 80px;
        font-weight: bold;
        color: #000;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 0 2px 3px #747474, 
            1px 3px 4px #222, 
            0 8px 3px #474747, 
            0 11px 4px #747474,
            0 14px 4px #565656,
            0 17px 4px #343434,
            0 20px 4px #171717;
      
}
.logo6{
    height: 100px;
    background-color: black;
    text-transform: capitalize;
        margin: 40px auto;
        font-family: 'Ubuntu', sans-serif;
        font-size: 70px;
        font-weight: bold;
        color: #CFC547;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 10px 10px 25px rgb(81,67,21),
          -10px 10px 25px rgb(81,67,21),
          -10px -10px 25px rgb(81,67,21),
          10px -10px 25px rgb(81,67,21);
      }
.logo7{
    height: 100px;
    background-color: black;
    text-transform: capitalize;
        margin: 40px auto;
        font-family: 'Ubuntu', sans-serif;
        font-size: 70px;
        font-weight: bold;
        color: transparent;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 0 0 8px #316472;
      }


   